.git
.github
.vs
.vscode
.claude

**/bin/
**/obj/

*.user
*.suo
*.userosscache
*.sln.docstates
*.DotSettings.user

.idea
*.swp

**/appsettings.Development.json

**/Logs/
*.log

.dockerignore
Dockerfile
README.md
